.containerAll {
  padding: 0.7rem;
  display: flex;
  margin-bottom: 1rem;
  min-width: 38rem;
  max-width: 38rem;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 5rem;
  cursor: grab;
  position: relative;
}

.containerAll::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}

.containerHistory {
  height: 5rem;
  width: 4rem;
  margin-right: 0.8rem;
}
.containerHistory span {
  display: inline-block; 
  width: 100%; 
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  padding-top: 4px;
}
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: 3px solid salmon;
  height: 4rem;
  width: 4rem;
}
.history img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.story-container {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 100px;
  margin: 20px auto;
  border: 1px solid #ccc;
  display: flex;
}

.stories {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.story {
  width: 150px;
  height: 100px;
  background-color: #eee;
  margin-right: 10px;
}

.story.active {
  border: 2px solid #3498db;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 800px) {
  .containerAll {
    min-width: 100vw;
  max-width: 100vw;
    margin-left: 0;
  }
  .containerHistory {
    height: 6rem;
    width: 5.5rem;
    margin-right: 0.6rem;
  }
  .history {
    height: 5rem;
    width: 5.2rem;
  }
 }