.containerAll { 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
}
.dada { 
    display: flex;
    flex-direction: column;
}
.container { 
    width: 19rem;
    padding: 2rem;
    border: 0.1px solid rgb(202, 202, 202);
    height: max-content;
}

.container2 {
    width: 19rem;
    padding: 1.2rem;
    border: 0.1px solid rgb(202, 202, 202);
    height: max-content;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.container3 {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 19rem;
    border: none;
    height: max-content;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
}
.container3 span {
    display: flex;
    justify-content: center;
}
.containerImageAll {
    display: flex;
    height: 35px;
    margin-top: 10px;
    justify-content: space-around;
}
.containerImage img {
    height: 100%;
    width: 100%;
}
.title { 
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: var(--primary-black);
    margin-bottom: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title_black {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: var(--color-gray-black-mode);
    margin-bottom: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.span { 
    color: var(--span);
    font-size: 12px;
    margin-bottom: 12px;
}
.btn {
   width: 100%;
   background-color: var(--background-facebook);
   color: var(--primary-white);
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 5px;
   height: 25px;
   margin-bottom: 1rem;
   cursor: pointer;
}
.btn:hover { 
    background-color: #2179b4;
}
.containerInput {
    padding-top: 10px;
}

.capchat { 
    font-size: 10px;
    color: var(--span);
    margin-top: 10px;
    text-align: center;
}

.spanCapchat {
    color: var(--span-private);
}

.btnRegister {
    width: 100%;
    background-color: #49aef1;
    color: var(--primary-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    height: 25px;
    margin-top: 1rem;
    cursor: pointer;
}
.btnRegister:hover { 
    opacity: 0.9;
}

.entry {
    margin-left: 3px;
    color: #49aef1;
    cursor: pointer;
}

@media (max-width: 500px) {
    .container {
        padding-top: 1rem;
        border: none;
    }
}