.main { 
    display: flex;
    max-height: 100vh;
}


.containerPosts {
    width: 100%;
    max-height: max-content;
    overflow-y:scroll;
    overflow-x: hidden;
    position: relative;
    padding-left: 7rem;
    padding-top: 1.6rem;
}

.containerPosts::-webkit-scrollbar {
  width: 0; 
}

.containerPosts .menu { 
    position: absolute;
    padding-top: 1.6rem;
    top: 0;
    right: 0;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid var(--primary-white);
    border-top: 4px solid rgb(168, 164, 164);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 23rem;
    margin-top: 3rem;
  }
  
  .spinner_black {
    width: 50px;
    height: 50px;
    border: 4px solid var(--primary-black);
    border-top: 4px solid rgb(168, 164, 164);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 23rem;
    margin-top: 3rem;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @media (max-width: 1500px) {
    .containerPosts { 
       padding-left: 0rem;
    }
  }

  @media (max-width: 800px) {
    .main { 
        display: flex;
        flex-direction: column-reverse;
    }
    .containerPosts {
        width: 100vw;
        max-height: 92vh;
        min-height: 92vh;
        overflow-y: scroll; 
        overflow-x: hidden;
        padding-top: 0;
        position: relative;
    }

    .spinner {
        width: 80px;
        height: 80px;
        border: 4px solid var(--primary-white);
        border-top: 4px solid rgb(168, 164, 164);
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-left: 50%;
        margin-top: 3rem;
      }
      .spinner_black {
        width: 80px;
        height: 80px;
        border: 4px solid var(--primary-black);
        border-top: 4px solid rgb(168, 164, 164);
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-left: 50%;
        margin-top: 3rem;
      }
   }