.containerAll {
    width: 14rem;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    border-right: 0.1px solid rgb(202, 202, 202);
}
.title { 
    width: 60%;
    font-size: 18px;
    color: var(--primary-black);
    margin-bottom: 24px;
    font-family: 'Lobster', cursive;;
    cursor: pointer;
     /* background-color: black; */
     /* color: white; */
    }

.title img { 
    /* filter: invert(100%); */
   width: 100%;
   height: 100%;
}
.containerAll .cont {
    display: flex;
    justify-content: flex-start;
    margin-top: auto; 
}
.cont { 
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: relative;
}
.cont span {
    font-size: 12px;
    padding-left: 0.5rem;
    align-items: center;
}

.containerSidebar { 
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.containerSidebarResponsive { 
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.containerSidebar2 { 
    position: relative;
}
.containerSidebar span {
    font-size: 12px;
    padding-left: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.containerSidebarResponsive span {
    font-size: 12px;
    padding-left: 0.5rem;
    align-items: center;
    cursor: pointer;
}
.icons {
    font-size: 22px;
    color: var(--primary-black);
    cursor: pointer;
}
.test {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(250, 246, 246);
    background-color: red;
    font-size: 10px;
    padding: 3px; 
    border: 2px solid white; 
    border-radius: 50%; 
  }
  
  .blackMode {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 150px;
  }

  .blackMode span { 
    padding: 3px;
    cursor: pointer;
  }

  .blackMode span:hover {
    background-color: rgb(192, 188, 188);
  }


  
  @media (max-width: 999px) {
    .containerAll {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        border-top: 0.1px solid rgb(202, 202, 202);
    }

    .title {
        display: none;
    }
    .cont { 
        display: none;
    }
    .containerAll .cont { 
        display: none;
    }
    .containerSidebar {
        display: none;
    }
    .containerSidebarResponsive span {
      display: none;
    }
   }
