.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.containerProfile {
    width: 100%;
    padding: 1.5rem 8.5rem 2rem;
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100%;
}
.containerHeader {
    display: flex;
}

.containerProfileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
}
.containerProfileImg img {
    border-radius: 25rem;
    border: 0.3rem solid salmon;
}
.containerProfileInfo {
    background-color: var(--background);
    max-width: 22rem;
}

.containerButtons{
    display: flex;
    justify-content: space-between;
}

.btnBlue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-facebook);
    border: none;
    width: 4.3rem;
    height: 1.6rem;
    color:var(--primary-white);
    border-radius: 2px;
    font-size: 13px;
    margin-left: 0.5rem;
}
.btnBlue2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-facebook);
    border: none;
    width: 2.1rem;
    height: 1.6rem;
    color:var(--primary-white);
    border-radius: 2px;
    font-size: 13px;
    margin-left: 0.5rem;
}
.message {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid grey;
    width: 4.3rem;
    height: 1.6rem;
    color: rgb(17, 17, 17);
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
}

.containerButtons span {
    display: flex;
    align-items: center;
}

.containerFollow { 
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.containerTitle {
    display: flex;
    flex-direction: column;
}

.containerFlex {
    display: flex;
}


.containerPosts {
    border: 1px solid rgb(216, 216, 216);
    border-bottom: none;
    margin-top: 2rem;
}

.containerBrackets {
    display: flex;
    justify-content: center;
}

.containerBrackets span {
    padding: 1rem;
    font-weight: bold;
    color: grey;
}
.containerImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: space-between; /* Distribuir el espacio sobrante entre las columnas */
    align-content: flex-end;
}

.containerImages img{
   width: 100%;
  height: 100%;
  object-fit: cover;
}