.containerAll {
    width: 21rem;
    height: max-content;
    margin: 1rem 5rem 2rem 0;
  }
  .containerHeader {
    padding: 0.5rem;
    display: flex;
  }
  .containerImage {
    border-radius: var(--border-radius);
    height: 2.8rem;
    width: 2.8rem;
    border: none;
    cursor: pointer;
  }
  .containerImage img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
  }
  .containerInfo {
    display: flex;
    height: 100%;
    font-size: 14px;
    flex-direction: column;
    padding: 0.5rem 0 0 1rem;
    cursor: pointer;
  }
  .containerHeader .containerElipsis {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  .containerElipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--background-facebook);
    cursor: pointer;
  }

 

  .containerSuggestionsHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .containerSuggestions { 
      padding: 0.5rem;
  }

  .containerUser {
    padding-left: 0.4rem;
    display: flex;
    margin-bottom: 0.4rem;
  }
  .containerUserImage {
    border-radius: 100%;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    cursor: pointer;

  }
  .containerUserImage img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
  }
  .containerUserInfo {
    display: flex;
    height: 100%;
    font-size: 14px;
    flex-direction: column;
    padding-left: 1rem;
    cursor: pointer;

  }
  .containerUser .containerUserElipsis {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
 
  .containerUserElipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--background-facebook);
    cursor: pointer;
  }

.follow {
  font-size: 14px;
  color: var(--background-facebook);
}
.following {
  font-size: 14px;
  color: grey;
}
.menuFooter {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0.5rem;
    color: var(--span);
}

.help {
  margin-bottom: 1rem;
}

.spanA {
  font-size: 15px;
  color: var(--span);
}
.spanB {
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 1300px) {
 .containerAll { 
  display: none;
 }
}